.*
*.py[cod]
# *.jpg
*.jpeg
# *.png
*.gif
*.bmp
*.mp4
*.mov
*.mkv
*.log
*.zip
*.pt
*.pth
*.ckpt
*.safetensors
*.json
# *.txt
*.backup
*.pkl
*.html
*.pdf
*.whl
cache
__pycache__/
storage/
samples/
!.gitignore
!requirements.txt
.DS_Store
*DS_Store
google/
Wan2.1-T2V-14B/
Wan2.1-T2V-1.3B/
Wan2.1-I2V-14B-480P/
Wan2.1-I2V-14B-720P/
poetry.lock
generated_videos/
jobs-out-err/
models--Wan-AI--Wan2.1-T2V-14B-Diffusers/
motion_loss_expirement/
vae_encoder_decoder.py
prompts.txt
*.slurm
user_study
user_study_optimized
utils.py
plot.py
motion_optimizer.py
plot_remove_unnecessary_metrics.py
plot_user_study_mean.py
quant_prompts.txt
user_study.txt
yes_sir
/0.0
/0.005